*{
	text-align: center;
}

div.coloana{
	position: relative;
	float: left;
	width: 10.45%;
	min-height: 50px;
	border: 2px dashed #323232;
	margin: 0.27%;
	/*text-align: center;*/

	padding-bottom: 5px;
	max-height: 96vh;

	overflow-y: auto; 
}

.tasks{
	max-height: 95vh;
}

hr{
	margin: 5px;
}

.coloana hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.task hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h5{
	text-transform: capitalize;
	font-weight: 600;
}

h6{
	text-transform: capitalize;
	font-weight: 600;
}

.task{
	min-height: 50px;

	margin: 3px;

	border: 1px solid black;
}

.description{
	margin-bottom: 10px;
}

.owner{
	font-style: italic;
}

div .green{
	background-color: rgb(18, 202, 1);
	color: white;
}
div .yellow{
	background-color: yellow;
	
}
div .red{
	background-color: red;
	color: white;
}
div .black{
	background-color: black;
	color: white;
}

.tasks{
	min-height: 50px;
}

.container{
	padding-left:5px;
	padding-right: 5px;
}

#done .task{
	background: white !important;
	color: black !important;
}

/* DRAGULA CSS */
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
  }
  .gu-hide {
	display: none !important;
  }
  .gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
  }
  .gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
  }


/* Scrollbar CSS */
.min-scrollbar::-webkit-scrollbar-track
{
	background-color: rgb(214, 214, 214);
}

.min-scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.min-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #909090;
}