

<div class="container coloana min-scrollbar" *ngFor="let column of columns">
	<h5>{{column.displayName}}</h5>
	<hr>

	<!-- taskuri -->
	<div class="tasks"  id ="{{column.name}}" [dragula] = "'issue-bag'" [dragulaModel] = "column.tasks">
		<div *ngFor="let task of column.tasks">
			<div *ngIf = "column.name != 'done' || doneColumnIsExpanded " >
				<div class = "task" id = "{{task.Id}}" (click)="clickOnIssue(task.Key);" [ngClass] = "[(task.Importance == 1) ? 'black':'', (task.Importance == 2) ? 'red':'', (task.Importance == 3) ? 'yellow':'', (task.Importance == 4) ? 'green':'']">
					<h6>{{task.Key}}</h6>
					<hr>
					<div class="description min-scrollbar">{{task.Sumary}}</div>
					<div *ngIf="showOwner(task)" class="owner">Assigned to {{task.Assignee}}</div>
				</div>
			</div>
		</div>
	</div>

	<!-- toggle button for done column -->
	<button *ngIf = "column.name == 'done'" class = "btn btn-light" id = "toggleButton" (click) = "doneColumnIsExpanded = !doneColumnIsExpanded">
		<i *ngIf = "!doneColumnIsExpanded" class="glyphicon glyphicon-chevron-down"></i>
		<i *ngIf = "doneColumnIsExpanded" class="glyphicon glyphicon-chevron-up"></i>
	</button>
</div>

<!-- legend -->
<div *ngIf = "!doneColumnIsExpanded" id = "legend">
	<h5>Legend</h5>
	<hr>

	<div id="right">
		<h6>Color</h6>

		<div class="color">No Color</div>
		<div class="color green"></div>
		<div class="color yellow"></div>
		<div class="color red"></div>
		<div class="color black"></div>
	</div>

	<div id="left">
		<h6>Time remaining</h6>

		<div>Not asigned</div>
		<div>>50%</div>
		<div>25%-50%</div>
		<div><25%</div>
		<div>Time expired</div>
	</div>
</div>