

<div class="container coloana min-scrollbar" *ngFor="let column of columns">
	<h5>{{column.displayName}}</h5>
	<hr>

	<!-- taskuri -->
	<div class="tasks"  id ="{{column.name}}" [dragula] = "'issue-bag'" [dragulaModel] = "column.tasks">
		<div *ngFor="let task of column.tasks">
			<div class = "task" id = "{{task.Id}}" [ngClass] = "[(task.Importance == 1) ? 'black':'', (task.Importance == 2) ? 'red':'', (task.Importance == 3) ? 'yellow':'', (task.Importance == 4) ? 'green':'']">
				<h6>{{task.Key}}</h6>
				<hr>
				<div class="description">{{task.Sumary}}</div>
				<div *ngIf="task.Owner" class="owner">Created by {{task.Owner}}</div>
			</div>
		</div>
	</div>	
</div>