*{
	text-align: center;
}

div.coloana{
	position: relative;
	float: left;
	width: 10.45%;
	min-height: 200px;
	border: 2px dashed #323232;
	margin: 0.27%;
	/*text-align: center;*/
}

hr{
	margin: 5px;
}

.coloana hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.task hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h5{
	text-transform: capitalize;
	font-weight: 600;
}

h6{
	text-transform: capitalize;
	font-weight: 600;
}

.task{
	min-height: 50px;

	margin: 3px;

	border: 1px solid black;
}

.description{
	margin-bottom: 10px;
}