<div id="sidebar">

	<!-- partea de sus -->
    <button  type="button" class="btn btn-default"  id="collapse-button"> <i class="fa fa-bars"></i> </button>

    <button type="button" class="btn btn-default"> <i class="fa fa-home" aria-hidden="true"></i> <br><span>Home</span> </button>
    <button class="btn btn-default"> <i class="fa fa-user" aria-hidden="true"></i> <br><span>User</span> </button>
    <button type="button" class="btn btn-default"> <i class="fa fa-arrows" aria-hidden="true"></i> <br><span>Nav</span> </button>
    <button type="button" class="btn btn-default"> <i class="fa fa-calendar" aria-hidden="true"></i> <br><span>Task</span> </button>
    

    <!-- partea de jos -->
    <div id="auth">
        <button type="button" class="btn btn-default"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> </button>
        <button type="button" class="btn btn-default"> <i class="fa fa-sign-in auth-button" aria-hidden="true"></i> </button>
    </div>

</div>